[submodule "libft"]
	path = libft
	url = https://github.com/rfs-hybrid-42-common-core/libft
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/rfs-hybrid-42-common-core/ft_printf
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/rfs-hybrid-42-common-core/get_next_line
[submodule "Born2beroot"]
	path = Born2beroot
	url = https://github.com/rfs-hybrid-42-common-core/Born2beroot
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:rfs-hybrid-42-common-core/push_swap.git
[submodule "pipex"]
	path = pipex
	url = git@github.com:rfs-hybrid-42-common-core/pipex.git
[submodule "minitalk"]
	path = minitalk
	url = git@github.com:rfs-hybrid-42-common-core/minitalk.git
[submodule "fract-ol"]
	path = fract-ol
	url = git@github.com:rfs-hybrid-42-common-core/fract-ol.git
[submodule "Philosophers"]
	path = Philosophers
	url = git@github.com:rfs-hybrid-42-common-core/Philosophers.git
[submodule "minishell"]
	path = minishell
	url = git@github.com:rfs-hybrid-42-common-core/minishell.git
