[submodule "libft"]
	path = libft
	url = https://github.com/rfs-hybrid-42-common-core/libft
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/rfs-hybrid-42-common-core/ft_printf
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/rfs-hybrid-42-common-core/get_next_line
